@model SwimmingLessonManagementSystem.Models.EnrollmentDto

@{
    ViewBag.Title = "Enrollment Details";
}

<h2>Enrollment Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Enrollment ID</dt>
        <dd>@Model.EnrollmentID</dd>
        <dt>Enrollment Date</dt>
        <dd>@Model.EnrollmentDate.ToShortDateString()</dd>
        <dt>Lesson Title</dt>
        <dd>@Model.LessonTitle</dd>
        <dt>Student Name</dt>
        <dd>@Model.StudentName</dd>
        <dt>Progress</dt>
        <dd>@Model.Progress</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentID }) |
    @Html.ActionLink("Back to List", "List")
</p>
