@model SwimmingLessonManagementSystem.Models.EnrollmentDto

@{
    ViewBag.Title = "Enrollment Details";
}

<h2>Enrollment Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lesson</dt>
        <dd>@Model.LessonTitle</dd>

        <dt>Student</dt>
        <dd>@Model.StudentName</dd>

        <dt>Progress</dt>
        <dd>@Model.Progress</dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Enrollment", new { id = Model.EnrollmentID })" class="btn btn-primary">Edit</a> |
    <a href="@Url.Action("List", "Enrollment")" class="btn btn-default">Back to List</a>
</div>
